.cabecalho {
    background-color: var(--branco);
    
    display: flex;
    justify-content: space-between;

    padding: 32px;

    box-shadow: 0px 0px 5px 6px rgba(0, 0, 0, 0.05);

    color: var(--preto);
}

.cabecalho__titulo {
    font-size: 16px;
    font-weight: 800;
    font-style: bold;
}

.cabecalho__dark-mode {
    font-size: 14px;
    font-weight: 600;
}

.cabecalho__dark-mode::before {
    content: "\e901";
    width: 24px;
    height: 24px;
    font-size: 14px;

    padding-right: 8px;
}

@media screen and (min-width: 768px) {
    .cabecalho__titulo {
        font-size: 20px;
    }

    .cabecalho__dark-mode {
        font-size: 20px;
    }

    .cabecalho__dark-mode::before {
        font-size: 20px;
    }
}

@media screen and (min-width: 1440px) {
    .cabecalho__titulo {
        padding-left: 32px;
        font-size: 32px;
    }

    .cabecalho__dark-mode {
        font-size: 20px;
        padding-right: 32px;
    }

    .cabecalho__dark-mode::before {
        font-size: 20px;
    }
}